<header>
  <h1>Hogwarts Library</h1>
  <nav class="navbar">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li class="header-buttons">
        <button routerLink="/members" class="button">Member List</button>
        <span class="button-gap"></span>
        <button routerLink="/book" class="button">Book List</button>
      </li>
    </ul>
  </nav>
</header>
